* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main {
  background: url(../img/backg_main.png) no-repeat center center/cover;
  height: 800px;
}

.about__wrap {
  height: 700px;
  background-color: #5D62B5;
  border-radius: 40px;
  margin-top: -80px;
  position: relative;
}
.about__title {
  position: absolute;
  font-size: 56px;
  font-weight: 900;
  top: -480px;
  color: white;
  width: 600px;
}
.about__btn {
  position: absolute;
  top: -312px;
  color: white;
  background-color: #F2726F;
  padding: 15px 20px;
  border-radius: 10px;
}
.about__dots {
  position: absolute;
  top: -110px;
  right: -70px;
}
.about__text-title {
  color: white;
}
.about__title-dog {
  display: flex;
  padding-top: 80px;
  padding-left: 60px;
  align-items: center;
}
.about__text-dog {
  color: white;
  font-size: 36px;
  font-weight: 700;
  width: 700px;
  padding: 25px 62px;
}
.about__text-end {
  color: white;
  padding: 0px 62px;
  width: 950px;
}
.about__dog {
  border-radius: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  z-index: 1;
}
.about__blob {
  position: absolute;
  top: 260px;
}

.promise__wrap {
  position: relative;
  top: 300px;
}
.promise__img-text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.promise__text {
  font-size: 12px;
  font-weight: 700;
  color: #5D62B5;
}
.promise__title {
  font-size: 36px;
  font-weight: 900;
  margin-top: 32px;
}
.promise__blocks {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}
.promise__block {
  display: flex;
  margin: 0 auto;
  width: 300px;
}
.promise__picher {
  position: relative;
  height: 64px;
  left: -22px;
}
.promise__title-in-block {
  color: #F2726F;
  font-size: 19px;
  font-weight: 900;
}
.promise__text-in-block {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.greens {
  position: relative;
  padding: -100px;
  margin-top: 400px;
  height: 70vh;
  background: #29C3BE center center/cover;
}
.greens__cicrcle {
  position: absolute;
  top: 180px;
}
.greens__blop {
  position: absolute;
  width: 10px;
  height: 100px;
}
.greens__dog {
  position: absolute;
  top: 60px;
}
.greens__text {
  position: absolute;
  top: 100px;
  margin-left: 800px;
  z-index: 1;
}
.greens__nemo {
  max-width: 411px;
  font-size: 36px;
  font-weight: 900;
  color: white;
  margin-bottom: 80px;
}
.greens__btn {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #F2726F;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.greens__line {
  position: absolute;
  margin-left: 750px;
}
.greens__balls {
  position: absolute;
  top: 170px;
  margin-left: 1300px;
}